{% extends "base.html" %}

{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
{% endfor %}

    <div class="container">
        <h2 class="text-center">Login Here</h2>
        <form action="{{ url_for('dowelllogin')}}" method="POST" enctype="multipart/form-data">
           
            <div class="form-group">
                <label for="language" class="form-label">Select Language</label>
                <select name="language" id="language" class="form-control">
                    <option value="">---Select---</option>
                    {% for language in languages %}
                        <option value="{{ language }}">{{ language }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="user_name" class="form-label">Username</label>
                <input type="text" name="user_name" id="user_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="text" name="password" id="password" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="voice"  class="form-label">Take Voice<i>(mp3 file of your voice recording)</i></label>
                <input type="file" name="voice" class="form-control-file" accept=".mp3,audio/*">
            </div>
            <br>
            <div class="form-group">
                <label for="selfie" class="form-label">Selfie Image <i>(face Image)</i></label>
                <input type="file" accept="image/*" capture="user" name="selfie" class="form-control-file"/>
            </div>
                <br>
            <div class="text-center">
                <p>New user? Please Contact the Admin for Login credentials</p>
                <button class="btn btn-primary" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
    <script>
    
            function postData() {
                $.ajax({
                    type: "POST",
                    url: "/getLocation/<locationInfo>",
                    contentType: "application/json",
                    data: JSON.stringify(doWelllocation()),
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        function doWelllocation(){
            // get country and city info 
            fetch('https://api.ipregistry.co/?key=tryout')
            .then(function (response) {
                return response.json();
            })
            .then(function (payload) {
                var country = payload.location.country.name;
                var city = payload.location.city;

                console.log(payload.location.country.name + ', ' + payload.location.city);
            });
            if(!navigator.geolocation) {
                alert('GeoLocation is not supported on this browser!')
                return
            }
            function success(position) {
                
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                // reverseGeocodingWithGoogle(latitude, longitude)
            }
            function error() {
                console.log('Unable to get location')
            }
            navigator.geolocation.getCurrentPosition(success, error)
        }

        doWelllocation()
    </script>
{% endblock %}